/* Estilos para la barra de navegación */
.navbar-complete {
    user-select: none;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    justify-content: space-between;
    align-items: center;
    background-color: var(--clr-primary);
    width: 100%;
    height: 60px;
    border: 1px solid var(--clr-gray2);
    box-shadow: 0 0.2rem 0.3rem -0.1rem var(--clr-gray2);
}

/* Estilos para el contenido a la izquierda */
.div-content {
    grid-column: 1 / span 10;
    display: flex;
    align-items: center;
}

.logo-navbar {
    cursor: pointer;
    margin-left: 20px;
    transition: transform 0.3s;
}

.logo-navbar img {
    width: 85px;
}

.logo-navbar:hover {
    transform: scale(1.1);
}

.home-navbar {
    margin-left: 30px;
}

.home-nav-btn {
    border: none;
    background-color: transparent;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    color: rgb(104, 103, 103);
    font-family: 'Aldrich';
    transition: transform 0.3s;
}

.home-nav-btn:hover {
    transform: scale(1.1);
}

.btn-darkModeToggle {
    width: 30px;
    height: 30px;
    background-color: white;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100vmax;
    cursor: pointer;
    box-shadow: 0 0 1rem var(--shadow-color);
    transition: .2s;
    margin-left: 20px;
}

.btn-darkModeToggle img {
    width: 24px;
    height: 24px;
}

/* Estilos para el mercado a la derecha */
.div-market {
    grid-column: 12 / span 9;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
}

.div-tokens {
    margin-right: 20px;
}

.div-tokens p {
    color: rgb(104, 103, 103);
}

.carritoButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.3s;
}

.carritoButton:hover {
    transform: scale(1.2);
}

.carritoButton img {
    width: 30px;
}

/* Estilos responsivos */
@media (max-width: 499px) {
    .navbar-complete {
        grid-template-columns: 1fr;
        justify-content: center;
        height: auto;
        padding: 10px;
    }

    .div-content {
        justify-content: center;
        margin-bottom: 7px;
    }

    .div-market {
        flex-direction: column;
        align-items: flex-end;
        align-items: center;
    }

    .div-tokens {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .carritoImage {
        margin-right: 0;
    }
}