/*todo || GENERAL STYLES */


ul {
    list-style-type: none;
}

button {
    background-color: transparent;
    border: 0;
    border-radius: 0;
}

body {
    min-height: 100vh;
    background-color: var(--clr-gray);
    transition: border-color 0.3s, box-shadow 0.3s, background-color 0.3s, color 0.3s;
}


/*todo#####-----> START SECCION: index.html <-----#####*/

.nav-down {
    padding-top: 1rem;
    box-shadow: 0 0 2rem -1rem rgba(0, 0, 0, .5);
}


.nav-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    padding-inline: 2rem;
    padding-bottom: 2rem;
    max-width: 1250px;
    margin: 0 auto;
}


.nav-list {
    display: flex;
    gap: .5rem;
    justify-content: center;
    flex-wrap: wrap;
}

.nav-item {
    padding: 1px;
}

.btn-header {
    user-select: none;
    padding: .5rem;
    border-radius: 100vmax;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .25);
    transition: .2s;
}

.btn-header:hover {
    transform: scale(1.1);
    box-shadow: 0 0 2rem rgba(0, 0, 0, .25);
}

main {
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}


/*? General Styles para los Filtros */
.main-filter-container {
    padding-inline: 2rem;
    padding-bottom: 1rem;
    max-width: 1200px;
    margin: 0 auto;

}

.main-filter-slider-container {
    padding-inline: 2rem;
    padding-bottom: 1rem;
    max-width: 1200px;
    margin: 0 auto;

}

/* Estilos para el Contenedor del Filtro */
.filter-container {
    margin-bottom: 10px;
}

/* Estilos para la Etiqueta del Filtro */
.filter-label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 400;
}

/*? Estilos para el Select Element */
.select-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
}

.filter-select {
    display: flex;
    width: 100%;
    padding: 10px 15px;
    border: 1px solid var(--clr-gray);
    border-radius: 5px;
    background-color: var(--clr-white);
    font-size: 16px;
    color: var(--clr-gray2);
    outline: none;
    transition: border-color 0.3s;
    box-shadow: 0 0 3rem -1rem rgba(0, 0, 0, .25);
}

.filter-select:hover {
    border-color: var(--clr-black);
}

.filter-select:focus {
    border-color: var(--clr-black);
    box-shadow: 0 0 5px rgba(28, 28, 28, 0.5);
}

/* Estilos para las Opciones del Filtro */
.filter-option {
    padding: 5px 10px;
}

/* Estilos para los Grupos de Opciones del Filtro */
.filter-optgroup {
    font-size: 14px;
    font-weight: bold;
}

/*? Estilos para el input del Filtro */
.search-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
}

.search-input {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid var(--clr-white);
    border-radius: 5px;
    background-color: var(--clr-white);
    font-size: 16px;
    color: var(--clr-gray2);
    outline: none;
    transition: border-color 0.3s;
    box-shadow: 0 0 3rem -1rem rgba(0, 0, 0, .25);
}

.search-input:hover {
    border-color: var(--clr-black);
}

.search-input:focus {
    border-color: var(--clr-black);
    box-shadow: 0 0 5px rgba(28, 28, 28, 0.5);
}

/* Estilos Responsivos */
@media screen and (min-width: 500px) {
    .main-filter-container {
        display: flex;
        justify-content: space-between;
    }

    .select-container,
    .search-container {
        width: 49%;
    }
}


/*? Estilos para el Slider del Filtro */
.filter-slider {
    width: 100%;
    margin-top: 5px;
    -webkit-appearance: none;
    appearance: none;
    height: 10px;
    border-radius: 5px;
    background: var(--clr-gray2);
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}

.filter-slider:hover {
    opacity: 1;
}

.filter-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--clr-black);
    cursor: pointer;
}

.filter-slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--clr-black);
    cursor: pointer;
}

/* Estilos para el Valor del Slider */
.slider-value {
    display: block;
    margin-top: 5px;
    font-size: 16px;
    color: var(--clr-black);
}


.pokemon-all {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

@media screen and (min-width: 565px) {
    .pokemon-all {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 900px) {
    .pokemon-all {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.pokemon {
    border-radius: 1rem;
    background-color: var(--clr-white);
    box-shadow: 0 0 3rem -1rem rgba(0, 0, 0, .25);
    padding-block: 1rem;
    /* text-transform: uppercase; */
    position: relative;
    isolation: isolate;
    overflow: hidden;
    cursor: pointer;
}

.pokemon:hover {
    transform: scale(1.01);
    transition: transform 0.1s ease;
}

.pokemon-id-back {
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 6rem;
    font-weight: 800;
    z-index: -1;
    color: var(--clr-gray);
}

.pokemon-image {
    padding-inline: 1rem;
    display: flex;
    justify-content: center;
}

.pokemon-image img {
    width: 100%;
    max-width: 6rem;
    /*! No estoy muy convencido de esta transicion  */
    /* transition: transform 0.2s ease-in-out, opacity 0.1s ease-in-out; */
    opacity: 1;
    /* transform: rotate(0deg); */
}

.pokemon-image img.hidden {
    opacity: 0;
    /* transform: rotate(360deg); */
}

.pokemon-image img.reverse {
    opacity: 0;
    /* transform: rotate(-360deg); */
}

.pokemon-info {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding-inline: 1rem;
    align-items: center;
    text-align: center;
}

.name-container {
    display: flex;
    align-items: center;
    column-gap: .5rem;
    flex-wrap: wrap;
    justify-content: center;
}

.pokemon-id {
    background-color: var(--clr-gray);
    padding: .25rem .5rem;
    border-radius: 100vmax;
    font-size: .75rem;
    font-weight: 500;
}

.pokemon-name {
    font-size: 1.4rem;
}

/* Animación de transición de color de izquierda a derecha para MaxEvo */
#pokemon-name-MaxEvo {
    position: relative;
    background: linear-gradient(to right, #574596b2, #8a6fc9, #574596b2, #8a6fc9);
    background-size: 400% 100%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: colorTransitionMaxEvo 3s linear infinite;
}

@keyframes colorTransitionMaxEvo {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: 100% 0%;
    }
}

/* Animación de transición de color de izquierda a derecha para Mythical */
#pokemon-name-mythical {
    position: relative;
    background: linear-gradient(to right, #cc2900, #ff7c5f, #cc2900, #ff5733);
    background-size: 400% 100%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: colorTransitionMythical 3s linear infinite;
}

@keyframes colorTransitionMythical {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: 100% 0%;
    }
}

/* Animación de transición de color de izquierda a derecha para Legendary */
#pokemon-name-legendary {
    position: relative;
    background: linear-gradient(to right, #F8D030, #fff19f, #F8D030, #FFEA70);
    background-size: 400% 100%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: colorTransitionLejendary 3s linear infinite;
}

@keyframes colorTransitionLejendary {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: 100% 0%;
    }
}

.pokemon-img_maxEvo {
    width: 40px;
}


.pokemon-types {
    display: flex;
    gap: .5rem;
    font-size: .75rem;
    font-weight: 500;
    flex-wrap: wrap;
    justify-content: center;
}

.type {
    padding: .25rem .5rem;
    border-radius: 100vmax;
}

.pokemon-stats {
    display: flex;
    gap: 1rem;
    font-size: .85rem;
}

.stat {
    background-color: var(--clr-gray);
    padding: .25rem .5rem;
    border-radius: 100vmax;
}

.pokemon-price {
    display: flex;
    gap: 1rem;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.price {
    /* background-color: var(--clr-gray); */
    /* padding: .25rem .5rem; */
    /* border-radius: 100vmax; */
    font-size: 1.3rem;
}

.offer {
    /* background-color: var(--clr-gray); */
    /* padding: .25rem .5rem; */
    /* border-radius: 100vmax; */
    font-weight: 100;
    font-size: 0.875rem;
    /* font-weight: 400; */
    /* letter-spacing: normal; */
    color: var(--clr-gray2);
    text-decoration: line-through;
}

.offerPercentage {
    background-color: var(--clr-offerBG);
    padding: .25rem .5rem;
    border-radius: 5px;

    font-weight: 500;
    font-size: 1rem;
    /* font-weight: 400; */
    /* letter-spacing: normal; */
    color: var(--clr-offer);
}


.div-pokemon-popup {
    position: absolute;
    left: 93%;
    transform: translateX(-50%);
    top: 4%;
    width: 25px;
    height: 25px;
    color: var(--clr-gray);
}

.info-icon-svg {
    width: 100%;
    height: 100%;
    min-width: 25px;
    min-height: 25px;
    fill: var(--clr-black);
}

.info-icon-svg:hover {
    fill: var(--clr-gray2);
}

.info-pokemon-popup {
    transform: translateX(-100%);
    display: none;
    position: absolute;
    background-color: var(--clr-white);
    border: 1px solid var(--clr-black);
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    z-index: 100;
    width: auto;
}

.info-pokemon-popup.show {
    user-select: text;
    display: block;
}

.info-pokemon-popup p {
    width: auto;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.div-stat-percent,
.div-stat-percent-special,
.div-stat-percent-power {
    display: flex;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-bottom: 5px;
}

.div-stat-percent:last-child {
    padding-bottom: 0px;
}

.div-stat-percent-power {
    padding-bottom: 10px;
}

.div-stat-percent {
    padding-left: 10px;
}

.div-stat-percent-special {
    padding-left: 20px;
    padding-bottom: 5px;
}

.stat-percentage,
.stat-percentage-special,
.stat-percentage-power {
    margin-right: 7px;
}

.stat-percentage-power {
    width: 15px;
    height: 15px;
    border-radius: 0%;
}

.stat-percentage {
    width: 14px;
    height: 14px;
    border-radius: 23%;
}

.stat-percentage-special {
    width: 13px;
    height: 13px;
    border-radius: 100%;
}






.see-all {
    background-color: #ececec;
    color: #1c1c1c;
}

.normal {
    background-color: var(--clr-type-normal);
    color: #1c1c1c;
}

.fire {
    background-color: var(--clr-type-fire);
    color: #1c1c1c;
}

.water {
    background-color: var(--clr-type-water);
    color: #f7f7f7;
}

.grass {
    background-color: var(--clr-type-grass);
    color: #1c1c1c;
}

.electric {
    background-color: var(--clr-type-electric);
    color: #1c1c1c;
}

.ice {
    background-color: var(--clr-type-ice);
    color: #1c1c1c;
}

.fighting {
    background-color: var(--clr-type-fighting);
    color: #f7f7f7;
}

.poison {
    background-color: var(--clr-type-poison);
    color: #f7f7f7;
}

.ground {
    background-color: var(--clr-type-ground);
    color: #1c1c1c;
}

.flying {
    background-color: var(--clr-type-flying);
    color: #1c1c1c;
}

.psychic {
    background-color: var(--clr-type-psychic);
    color: #1c1c1c;
}

.bug {
    background-color: var(--clr-type-bug);
    color: #1c1c1c;
}

.rock {
    background-color: var(--clr-type-rock);
    color: #1c1c1c;
}

.ghost {
    background-color: var(--clr-type-ghost);
    color: #f7f7f7;
}

.dark {
    background-color: var(--clr-type-dark);
    color: #f7f7f7;
}

.dragon {
    background-color: var(--clr-type-dragon);
    color: #f7f7f7;
}

.steel {
    background-color: var(--clr-type-steel);
    color: #1c1c1c;
}

.fairy {
    background-color: var(--clr-type-fairy);
    color: #1c1c1c;
}

.btn-select {
    transform: scale(1.1);
    box-shadow: 0 0 2rem rgba(0, 0, 0, .25);
    box-shadow: 0 0 8px var(--clr-black);
}

.btn-select:hover {
    box-shadow: 0 0 8px var(--clr-black);
}