#buy-button {
    border: 1px rgb(224, 224, 87) solid;
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
    background-color: rgb(251, 227, 45);
    box-shadow: 0rem 0.2rem 0.2rem -0.1rem rgba(122, 122, 30, 0.607);
    cursor: pointer;
}

#buy-button:hover {
    transform: scale(1.1);
}

.pokemon-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
    gap: 20px;
    align-items: center;

}

.pokemon-container-img {

    width: 30%;
    display: grid;
    grid-template-columns: 80% 5%;
    grid-template-rows: 1fr;
    box-sizing: border-box;
    position: relative;
    background-color: grey;
}

#img-shiny {
    display: flex;

    width: 100%;
}

#gif {
    text-align: right;
    height: 5vh;
    margin-right: 5vw;
    margin-top: 2vw;
}

#h1 {
    display: flex;
    margin-right: 5vw;
    justify-content: center;
    text-align: center;
    margin-bottom: 2vw;
}

.pokemon-container-text {
    display: flex;
    flex-direction: column;
    align-items: normal;
    width: min-content;
    padding: 1vw;
    gap:0.5rem;
    flex-wrap: wrap;
    position: relative;
    background-color: #f366b9;

}

.pokemon-container-img-text {
    margin-top: 2vw;
    width: 60%;
    display: flex;
    gap: 3vw;
    justify-content: center;

}

.p-type{
    margin-top: 1vw;
}

.span-details-pokemon-container-text{
    color:yellow;

    display: inline;
  
  
}
.p-details-pokemon-container-text{
    display: flex;
    flex-direction: column;
    width: 6vw;
}
#hability-p-details-pokemon-container-tex{
    display: flex;
    align-items: flex-start;
   
   

}

.pokemon-text-container{
    width: 40%;
height: min-content;
    padding: 1vw 3vw;
 
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.habilitiy-span-details-pokemon-container-text{
    
    color:yellow;
   justify-content: center;}

 #price-p-details-pokemon-container-text{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: 8.6vw;
    margin-bottom: 0.4vw;
    width: 60%;
}
.text-type-section-container3-pokemon{
    padding: 1.5vw;
    display: flex;
    flex-direction: column;
}

.button-type-div-container3-pokemon{
    border: 2px solid transparent;
    padding: 0 1.5vw;
    font-size: large;
    /* background-color: ; */
}

.text-div-details-pokemon-container{
    display: flex;
width: min-content;

}
.type-div-container3-pokemon{
    display: flex;
    flex-direction: row;
    background-color:var(--clr-type-) ;
}