#buy-button {
    border: 1px rgb(224, 224, 87) solid;
    border-radius: 2vw;
    padding: 0.6vw;
    background-color: rgb(251, 227, 45);
    box-shadow: 0rem 0.2rem 0.2rem -0.1rem rgba(122, 122, 30, 0.607);
    cursor: pointer;
}

#buy-button:hover {
    transform: scale(1.1);
}

.pokemon-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2vw;
    gap: 20px;
    align-items: center;
box-sizing: border-box;
border: 1px solid transparent;
}

.pokemon-container-img {
margin-top: 1vw;
    width: 25%;
    height: 15%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;
   gap:2vw;
    border-radius: 1vw;
}
.imgs{
    display: flex;
    flex-direction: column;
    background-color: rgb(219, 218, 218);
    padding: 0.2vw;
}

.image{
    display: flex;
    flex-direction: row;
    
}

#img-shiny {
    display: flex;
justify-content: center;
    width: 8vw;
}

#gif {
    margin: 1vw ;
    text-align: right;
height: 2.7vw;
    width: 3vw;
    display: flex;
    flex-direction: row;
}

#h1 {
    display: flex;
    margin-right: 5vw;
    justify-content: center;
    text-align: center;
    margin-bottom: 0.4vw;
}

.pokemon-container-text {
    display: flex;
    flex-direction: column;
    align-items: normal;
    width:15vw;
    height: 1vw;
 margin-top: 0.2vw;
    padding: 3vw;
    gap:0.5rem;
    flex-wrap: wrap;
    position: relative;
    background-color: #f366b9;
    border-radius: 0.4vw;
justify-content: center;
}

.pokemon-container-img-text {
    margin-top: 2vw;
    width: 60%;
    display: flex;
    gap: 3vw;
    justify-content: center;
margin-bottom: 1.5vw;
}

.p-type{
    margin-top: 1vw;
}

.span-details-pokemon-container-text{
    color:yellow;
    display: flex;
    justify-content: flex-end;
    margin-right: 0.8vw;
    padding-bottom: 0.6vw;
    font-size: larger;
  
  
}
.p-details-pokemon-container-text{
    display: flex;
    flex-direction: column;
    width: 6vw;
   
}
#hability-p-details-pokemon-container-tex{
    display: flex;
    align-items: flex-start;
   
   

}

.pokemon-text-container{
    width: 40%;
height: min-content;
    padding: 1vw 3vw;
 
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.habilitiy-span-details-pokemon-container-text{
    
    color:yellow;
   justify-content: center;}

 #price-p-details-pokemon-container-text{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: 5.6vw;
    margin-bottom: 5vw;
    width: 60%;
}
.text-type-section-container3-pokemon{
    padding: 1vw;
    display: flex;
    flex-direction: column;
}

.button-type-div-container3-pokemon{
    border: 2px solid transparent;
    padding: 0 1.5vw;
    font-size: large;
    /* background-color: ; */
}
.button-type-section-container3-pokemon{
    background-color: transparent;
    border: 0;
    border-radius: 0;

    display: flex;
    flex-direction: row;
    gap:1vw;

}

.text-div-details-pokemon-container{
    display: flex;
width: min-content;

}
.type-div-container3-pokemon{
    display: flex;
    flex-direction: row;
    background-color:var(--clr-type-) ;
}

.evolutions-pokemon-container{
    box-sizing: border-box;
    margin: 3vw 0 1.5vw 0;
    width: 40%;
    height: 30%;
    text-align: center;
    background-color: gray;
    border: 2px solid transparent;
    display: grid;
    grid-template-columns:repeat(3,5vw) ;
    flex-direction: row;
    justify-items: center;
    border-radius: 1vw;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    padding: 1vw;
}
.imgs-evolutions{
    width: 7vw;
border: 4px solid transparent;
}

#types-container3-pokemon{
  padding: 0.3vw;
  width: 7vw;
  border-radius: 0.2vw;
}
#price-span-imgs{
    display: flex;
    font-size: 1.2vw;
    
}
.arrow-span-evolutions-pokemon{
    display: flex;
    text-align: center;
    justify-content: center;
    width: 5vw;
    font-size: 100vw;
    font-weight: bold;
    color: #f366b9;
}
.puntos-de-base{
   box-sizing: border-box;
 
   margin-right: 30vw;
}
.h2-table{
    display: flex;
    text-align: left; 
    box-sizing: border-box;
} */
 #ul{
   
    display: flex;
    flex-direction: column;
    color:red
 }
 .gender-text{
    display: flex;
    flex-direction: column;
 }
 .gender-result{
    color:yellow;
    justify-content: center;}
 
