/* @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap'); */

@font-face {
    font-family: 'Aldrich';
    src: url('../fonts-family/Aldrich-Regular.ttf') format('truetype');
}


:root {
    /* Define los colores para el modo claro */
    --clr-black: #1c1c1c;
    --clr-gray: #ececec;
    --clr-gray2: #727272;
    --clr-white: #f7f7f7;

    /* Define los colores para el modo oscuro */
    --dark-mode-background: var(--clr-black);
    --dark-mode-text: var(--clr-gray);

    /* Define los colores de los tipos de Pokemon */
    --clr-type-normal: #A8A878;
    --clr-type-fire: #F08030;
    --clr-type-water: #6890F0;
    --clr-type-grass: #78C850;
    --clr-type-electric: #F8D030;
    --clr-type-ice: #98D8D8;
    --clr-type-fighting: #C03028;
    --clr-type-poison: #A040A0;
    --clr-type-ground: #E0C068;
    --clr-type-flying: #A890F0;
    --clr-type-psychic: #F85888;
    --clr-type-bug: #A8B820;
    --clr-type-rock: #B8A038;
    --clr-type-ghost: #705898;
    --clr-type-dark: #705848;
    --clr-type-dragon: #7038F8;
    --clr-type-steel: #B8B8D0;
    --clr-type-fairy: #F0B6BC;

    /* Define los colores de la oferta */
    --clr-offerBG: #f2ff80;
    --clr-offer: #914600;

}

.dark-mode {
    /* Cambia los colores para el modo oscuro */
    --clr-white: #2b2b2b;
    --clr-gray: #666666;
    --clr-gray2: #a1a1a1;
    --clr-black: #f7f7f7;
}



/*todo || GENERAL STYLES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--clr-black);
    /* font-family: 'Rubik', sans-serif; */
    font-family: 'Aldrich';

}


ul {
    list-style-type: none;
}

button {
    background-color: transparent;
    border: 0;
    border-radius: 0;
}

body {
    min-height: 100vh;
    background-color: var(--clr-gray);
    transition: border-color 0.3s, box-shadow 0.3s, background-color 0.3s, color 0.3s;
}