.carritoDeCompraClass {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.carritoTitle {
  font-size: 150%;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.carrito-items {
  display: flex;
  flex-direction: row;
  padding: 1.7vw;
  border: 3px solid rgba(187, 184, 184, 0.955);
  border-radius: 10px;
  background-color: rgba(187, 184, 184, 0.758);
  width: 400px;
  gap: 2vw;
  text-wrap: wrap;
  align-items: center;
}

/* Arreglar números del input modo oscuro */

.carrito-items img {
  width: 30%;
}

.carrito-items img:hover {
  transform: scale(1.5);
  transition: 0.1s;
}

.contador > input {
  width: 50px;
  height: 30px;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
  background-color: rgba(252, 233, 124, 0.874);
  color: black;
}

.totalCarrito {
  display: flex;
  flex-direction: row;
  padding: 1.2vw;
  margin-top: 30px;
  border: 3px solid rgba(187, 184, 184, 0.955);
  border-radius: 10px;
  background-color: rgba(187, 184, 184, 0.758);
  width: 400px;
  gap: 2vw;
  text-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.pasarelaCheck {
  display: flex;
  flex-direction: row;
  padding: 7px;
  margin-top: 30px;
  border: 3px solid rgba(187, 184, 184, 0.955);
  border-radius: 10px;
  background-color: rgba(252, 233, 124, 0.874);
  color: black;
  width: 400px;
  gap: 2vw;
  text-wrap: wrap;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.pasarelaCheck:hover {
  transform: scale(1.1);
  transition: 0.1s;
  width: 380px;
}

/* Papelera */

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0.5;
    transform: scale(0.5);
  }
}

.fade-out {
  animation: fadeOut 0.6s forwards;
}

.deleteButton > button {
  cursor: pointer;
}

.deleteButton:hover {
  transform: scale(1.1);
}
